{
    "branches": ["develop"],
    "repositoryUrl": "https://github.com/mdnhuda/testing-sem-var.git",
    "tagFormat": "release/${version}",
    "release": {
	"branches": ["develop"]
    },
    "plugins": [
        "semantic-release-jira-lister",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Testing Semantic Versioning"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ]
    ],

}


