{
    "branches": ["develop"],
    "repositoryUrl": "https://github.com/mdnhuda/testing-sem-var.git",
    "tagFormat": "release/${version}",
    "release": {
	"branches": ["develop"]
    },
    "plugins": [
        "semantic-release-jira-lister"
    ],

}


